.button {
  display: inline-block;
  zoom: 1;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  user-select: none;
  font-family: inherit;
  padding: 8px 12px;
  color: #000000cc;
  border: none;
  border: transparent;
  background-color: #e6e6e6;
  text-decoration: none;
  border-radius: 3px;
  font-weight: 300;
  font-size: 14px;

  &:focus {
    outline: none;
  }

  &:hover {
    background-color: #ebebeb;
  }

  &.green {
    background: #1cb841;
    color: #fff;

    &:hover {
      background-color: #2dc450;
    }
  }

  &.red {
    background: red;
    color: #fff;
  
    &:hover {
      background-color: darkred;
    }
  }

  &.blue {
    background: #476897;
    color: #fff;
  
    &:hover {
      background-color: #475887;
    }
  }

  &.yellow {
    background: #768343;
    color: #fff;
  
    &:hover {
      background-color: #667333;
    }
  }
}